@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: "Nunito", sem serifa;
}

/* ==========JS ANIMACOES================== */

.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}
.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* ==================== MENU ================================= */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
  background-color: white;
  /* background-color: #4867d6; */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}

li {
  list-style: none;
}

a {
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #4867d6;
}

a:hover {
  box-shadow: 0px 1px 0px 0px #4867d6;
}

a:focus {
  box-shadow: 0px 1px 0px 0px #4867d6;
}

/* ================================================================================================ */
/* =====================================SECTION LOSANGO=============================================== */

.conteiner {
  height: 100vh;
  background-color: #4867d6;
  display: flex;
  align-items: center;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  height: 80vh;
  /* background-color: lime; */
}

.botao {
  display: flex; 
  padding: 0rem 3rem;
  color: white;
  font-weight: bold;
  box-shadow: 0px 1px 0px 0px white;
}
.botao p {
  cursor: pointer;
}

.content.img img {
  width: 80%;
  height: 30%;
}

div.content.login {
  width: 30%;
  height: 80%;
  background-color: #4867d6;
}

.content.login.ativo {
  display: none;
}

.content.registro {
  display: none;
}
.content.registro.ativo {
  display: block;
  width: 30%;
  height: 80%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.8rem;
  margin-bottom: 1rem;
}

input {
  border: 0px;
  outline: none;
  background-color: transparent;
  box-shadow: 0px 1px 0px 0px white;
  color: white;
  font-size: 1.3rem;
  width: 20rem;
}

.ativo form input {
  border: 0px;
  outline: none;
  background-color: transparent;
  box-shadow: 0px 1px 0px 0px white;
  color: white;
  font-size: 1rem;
  width: 20rem;
}

input:focus {
  border: 0px;
  outline: none;
  background-color: transparent;
  box-shadow: 0px 1px 0px 0px white;
}

#nome::-webkit-input-placeholder,
#email::-webkit-input-placeholder,
#senha::-webkit-input-placeholder,
#senha-confirma::-webkit-input-placeholder,
#CPF::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.459);
  font-size: 1rem;
}

form button {
  display: block;
  border: 1px solid #21357e;
  background-color: white;
  padding: 10px 35px 10px 35px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5%;
  color: gray;
  font-weight: bold;
}


/* ============================================================================ */
/* =====================================FOOTER=================================== */

footer {
  background-color: rgba(0, 0, 0, 0.863);
  color: white;
  text-align: center;
  font-size: 0.8rem;
  padding: 2rem;
}
